.welcomeImage {
    display: block;
    width: 1200px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 912px) {
    .welcomeImage {
        width: 100%;
    }
}