.container-blue {
    background-color: #06234F;
}

.container-clear {
    background-color: #06234f00;
}

.container-white {
    background-color: #FFFFFF;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 800;
    font-size: 200%;
}

h3.blue {
    color: #06234F;
}

h3.white {
    color: #FFFFFF;
}

h3.big {
    font-size: 300%;
}

h4 {
    margin-bottom: 5%;
    text-align: center;
    font-size: 120%;
}

h4.blue {
    color: #06234F;
}

h4.white {
    color: #FFFFFF;
}

button {
    background-color: #06234f00; /* Transparent */
    padding: 15px 32px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

button.blue {
    border: 1px solid #06234F;
    color: #06234F;
}

button.blue:hover {
    background-color: #06234F;
    color: #FFFFFF;
}

button.white:hover {
    background-color: #FFFFFF;
    color: #06234F;
}

.button-link {
    margin-bottom: 7%;
}

@media (max-width: 768px) {
    h3 {
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 120%;
    }
    h3.big {
        font-size: 160%;
    }

    h4 {
        font-size: 100%;

    }

    button {
        font-size: 70%;
        padding: 10px 20px;
        margin-bottom: 10px;
    }
}