.container-blue {
    background-color: #06234F;
}

.container-clear {
    background-color: #06234f00;
}

.container-white {
    background-color: #FFFFFF;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 7%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 800;
    font-size: 42px;
}

h3.blue {
    color: #06234F;
}

h3.white {
    color: #FFFFFF;
}

h3.big {
    font-size: 60px;
}

h4 {
    margin-bottom: 5%;
    text-align: center;
    font-size: 18px;
}

h4.blue {
    color: #06234F;
}

h4.white {
    color: #FFFFFF;
}

button {
    background-color: #06234f00; /* Transparent */
    padding: 15px 32px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.white {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

button.blue {
    border: 1px solid #06234F;
    color: #06234F;
}

button.blue:hover {
    background-color: #06234F;
    color: #FFFFFF;
}

button.white:hover {
    background-color: #FFFFFF;
    color: #06234F;
}

.button-link {
    margin-bottom: 7%;
}