.navBarTitle {
    text-align: center;
    margin-bottom: 1em;
}

.navBarImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 3%;
}

.navBarRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.navBarLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 85%;
}

.navBarLine {
    width: 50%;
    align-self: center;
}

/* 414px is iPhone XR width */
@media (max-width: 414px) {
    .navBarLine {
        width: 85%;
    }
}