.navBarTitle {
    text-align: center;
    margin-bottom: 1em;
}

.navBarImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-top: 3%;
}

.navBarRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}