.socialLinks {
    display: flex;
    justify-content: center;
}

.buttonLogo {
    padding: 10px;
    border: 0;
}

.footerText {
    padding-top: 3%;
    color: #06234F;
    text-align: center;
    font-weight: 800;
    font-size: 120%;
}
